.title {
  margin-top: 35%;
  margin-bottom: 23%;
}

.a-center {
  text-align: center;
}

.f-s-25 {
  font-size: 1.5rem;
}

.f-s-16 {
  font-size: 16px;
}

.f-s-21 {
  font-size: 1.31rem;
}

.py-50 {
  padding-left: 12%;
  padding-right: 12%;
}

.py-20 {
  padding-left: 8%;
  padding-right: 8%;
}

.py-40 {
  padding-right: 40px;
  padding-left: 40px;
}

.p-b-23 {
  padding-bottom: 23px;
}

.p-b-26 {
  padding-bottom: 26px;
}

.p-absolute {
  position: absolute;
}

.plant {
  left: 0;
  top: 0;
  z-index: 0;
}

.fs-42 {
  font-size: 2.625rem;
}
.fs-25 {
  font-size: 1.563rem;
}

.legenda {
  margin-top: 20%;
  margin-bottom: 15%;
  padding-right: 30px;
  padding-left: 30px;
}

.btn-sec {
    width: 160px!important;
    height: 52px!important;
    border-radius: 12px;
}