<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <link rel="stylesheet" href="./css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>RandomRide - Login</title>
  </head>
  <body>
    <div class="container justify-content-center align-items-center flex-column">
      <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center flex-column">
          <h1>
            <img class="w-100 logo" src="H:\Users\andrea\Desktop\Concorso\Logo\nuovo\macchina\1x\logo car.png" alt="RandomRideLogo">
          </h1>
        </div>
        <h2 class="login text-center ctext-primary sf-pro-d-bold">
          Login
        </h2>
        <div class="justify-center">
          <div class="input-group mb-3">
            <span class="rounded-left input-image input-group-text" id="basic-addon1">
              <img src="https://img.icons8.com/ios/16/000000/mail.png"/>
            </span>
            <input type="text" class="rounded-right border-l-none form-control" placeholder="Email">
          </div>
          <div class="input-group mb-3">
            <span class="rounded-left input-image input-group-text" id="basic-addon1">
              <img src="https://img.icons8.com/ios/16/000000/lock--v1.png"/>
            </span>
            <input type="text" class="border-l-none border-r-none form-control" placeholder="Password">
            <button class="rounded-right button btn btn-outline-secondary" type="button" id="button-addon2">
              <img src="https://img.icons8.com/material-outlined/16/000000/visible--v1.png"/>
            </button>
          </div>
        </div>
        <div class="text-center ctext-primary">
          <a class="forgot sf-pro-d-regular" href="#">
            Hai dimenticato la password?
          </a>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn bottone bgc-secondary ctext-light" type="button">Continua</button>
        </div>
        <div class="text-center ctext-dark">
          <span class="oppure sf-pro-d-regular">Oppure</span>
        </div>
        <div class="d-grid gap-2 col-8 mx-auto">
          <button class="sf-pro-d-SBold btn google shadow bottone bgc-light ctext-dark" type="button">
            <span>
              <img src="https://img.icons8.com/fluent/24/000000/google-logo.png"/>
            </span>
            <span>
              Accedi con Google
            </span>
          </button>
          <div class="sf-pro-d-regular register">
            <span>
              Non sei ancora registrato?
            </span>
            <span>
              <a class="blue" href="#">
                Fallo ora
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
