/* Nexa Bold
@font-face {
  font-family: "Nexa Bold";
  src: url('../fonts/Nexa_Bold.otf') format("opentype");
  font-weight: bold;
} */

@font-face {
  font-family: 'Nexa Bold';
  src: local('Nexa Bold'), url('../fonts/Nexa_Bold.woff') format('woff');
  font-weight: bold;
}

.nexaBold{
  font-family: "Nexa Bold";
  font-weight: bold;
}

@font-face {
  font-family: 'Nexa Light';
  src: local('Nexa Light'), url('../fonts/Nexa_Light.woff') format('woff');
  font-weight: lighter;
}

.nexaLight{
  font-family: "Nexa Light";
  font-weight: lighter;
}

@font-face {
  font-family: 'SFPro D Bold';
  src: local('SFPro D Bold'), url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
  font-weight: bold;
}

.sf-pro-d-bold{
  font-family: "SFPro D Bold";
  font-weight: bold;
}

@font-face {
  font-family: 'SFPro D Regular';
  src: local('SFPro D Regular'), url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
  font-weight: 400;
}

.sf-pro-d-regular{
  font-family: "SFPro D Regular";
  font-weight: 400;
}

@font-face {
  font-family: 'SFPro D SBold';
  src: local('SFPro D SBold'), url('../fonts/SF-Pro-Display-Semibold.woff') format('woff');
  font-weight: 600;
}

.sf-pro-d-SBold{
  font-family: "SFPro D SBold";
  font-weight: 600;
}


:root{
  --primary: #FF7100;
  --secondary: #6B53FD;
  --warning: #FFC107;
  --danger: #CD3A19;
  --success: #2FD115;
  --info: #00B2FF;
  --dark: #000;
  --light: #fff;
}


.ctext-primary{
  color: var(--primary) !important;
}
.ctext-secondary{
  color: var(--secondary) !important;
}
.ctext-warning{
  color: var(--warning) !important;
}
.ctext-danger{
  color: var(--danger) !important;
}
.ctext-success{
  color: var(--success) !important;
}
.ctext-info{
  color: var(--info) !important;
}
.ctext-dark{
  color: var(--dark) !important;
}
.ctext-light{
  color: var(--light) !important;
}

.bgc-primary{
  background-color: var(--primary) !important;
}
.bgc-secondary{
  background-color: var(--secondary) !important;
}
.bgc-warning{
  background-color: var(--warning) !important;
}
.bgc-danger{
  background-color: var(--danger) !important;
}
.bgc-success{
  background-color: var(--success) !important;
}
.bgc-info{
  background-color: var(--info) !important;
}
.bgc-dark{
  background-color: var(--dark) !important;
}
.bgc-light{
  background-color: var(--light) !important;
}


.mb-2{
  margin-bottom: 20%;
}
.mt-5p{
  margin-top: 5% !important;
}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.align-center{
  align-items: center;
}

.login{
  font-size: 30px;
  margin-bottom: 5.75%;
}

.logo{
  margin-top: 100px;
  margin-bottom: 80px;
}

.input-image{
  background-color: transparent !important;
}

.button{
  border: 1px solid #ced4da !important;
  border-left: none !important;
}

.border-l-none{
  border-left: none !important;
}

.border-r-none{
  border-right: none !important;
}


.forgot{
  color: black !important;
  font-size: 0.875rem;
}

.RegBottone{
  border-radius: 30px !important;
  margin-top: 30px;
  font-size: 0.875rem !important;
  height: 2.375rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.oppure{
  font-size: 14px;
}

.google{
  margin-bottom: 10px !important;
  margin-top: 20px !important;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.google svg{
  margin-right: 10%;
}

.register{
  font-size: 10px;
  padding-left: 5px;
}

.blue{
  color: #0038FF;
}

.rounded-right{
  border-top-right-radius:30px !important;
  border-bottom-right-radius:30px !important;
}

.rounded-left{
  border-top-left-radius:30px !important;
  border-bottom-left-radius:30px !important;
}
